<div id="<%= dom_id article %>" class="d-flex justify-content-between">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>


</div>
<% if article.photos.attached? %>
  <% article.photos.each do |p| %>
    <%= cl_image_tag(p.key, width: 300, height: 200, crop: :fill) %>
  <% end %>
<% end %>
